# Choose database adapter type: "dict", "sqlite", or "mongodb"
[db]
type = "sqlite"

# Settings for MongoDB
[db.mongodb]
uri = "mongodb://localhost:27017"

# Settings for SQLite
[db.sqlite]
path = "beer_game.db"

# Admin and player keys
[admin]
key = "admin"

[player]
key = "player"
